.busqueda_container {
  padding: 10px 20px 10px 0;
  display: flex;
  flex-direction: column;
  gap: 25px;
}
.cancionBusqueda {
  margin: 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  cursor: pointer;
  gap: 15px;
  height: 80px;
}
.portadaBusqueda {
  width: 75px;
  height: auto;
  border-radius: 3px;
}
.textoBusqueda {
  display: flex;
  flex-direction: column;
  color: var(--text-color);
  justify-content: space-around;
  height: 100%;
  width: 70%;
}
.textoBusqueda p {
  margin: 0;
  opacity: 0.6;
}
.textoBusqueda h4 {
  margin: 0;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 3; /* Limita a 2 líneas */
  -webkit-box-orient: vertical;
}
.busqueda_container .noFound {
  display: flex;
  flex-direction: column;
  margin: 50px 25% 0 0;
  align-items: center;
}
.busqueda_container .noFound img {
  width: 150px;
  height: 150px;
  opacity: 0.7;
}
.busqueda_container .noFound h1,
.busqueda_container .noFound p {
  color: white;
  text-align: center;
}
.busqueda_container .noFound p {
  opacity: 0.6;
  margin: 0;
}
.seccion {
  padding: 20px 20px;
}
.encabezado {
  display: flex;
  align-items: center;
  padding: 10px 0px;
  width: 100%;
}
.img {
  width: 35px;
  height: 35px;
  overflow: hidden;
  object-fit: cover;
  margin-right: 20px;
}
.texto {
  display: flex;
  flex-direction: column;
}
.texto p,
.texto h2 {
  margin: 0;
  color: var(--text-color);
}
.texto p {
  font-size: 16px;
}
.texto h2 {
  font-size: 24px;
}
.playlist {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 200px;
  margin-bottom: 10px;
  cursor: pointer;
}
.portadaPL {
  width: 150px;
  height: auto;
  border-radius: 3px;
  margin-bottom: 8px;
}

.portadaPLCircle {
  width: 150px;
  height: auto;
  border-radius: 50%;
  margin-bottom: 8px;
}

.playlist h3,
.playlist p {
  text-align: center;
  color: var(--text-color);
  margin: 0;
  font-size: 14px;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2; /* Limita a 2 líneas */
  -webkit-box-orient: vertical;
  max-width: 150px; /* Ajusta el ancho según sea necesario */
}
.playlist p {
  opacity: 0.6;
  margin-top: 5px;
}

.canciones_container {
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
  padding: 10px 0;
  max-height: 210px;
  width: 100%;
  overflow-x: auto;
  justify-content: space-around;
  overflow-x: hidden;
}
.cancion {
  margin: 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 20%;
  height: 10%;
  cursor: pointer;
}
.portadaCA {
  width: 40px;
  height: 40px;
  border-radius: 3px;
}
.cancion .texto {
  justify-content: left;
}
.cancion h4,
.cancion p {
  color: var(--text-color);
  margin: 0px 5px;
  font-size: 14px;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2; /* Limita a 2 líneas */
  -webkit-box-orient: vertical;
  max-width: 150px; /* Ajusta el ancho según sea necesario */
}

.scrollable_container {
  display: flex;
  flex-direction: row;
  overflow-x: auto;
  gap: 10px;
  padding: 10px 0;
  align-items: baseline;
}
.scrollable_container::-webkit-scrollbar {
  height: 8px; /* Altura de la scrollbar horizontal */
}
.scrollable_container::-webkit-scrollbar-thumb {
  background-color: var(--border-color); /* Color del thumb */
  border-radius: 10px; /* Bordes redondeados para el thumb */
}
.scrollable_container::-webkit-scrollbar-track {
  background-color: var(--secondary-color); /* Color del track */
  border-radius: 20px; /* Bordes redondeados para el track */
}
.scrollable_container::-webkit-scrollbar-thumb:hover {
  background-color: var(--border-color); /* Cambio de color al desplazar */
}

.canciones_container::-webkit-scrollbar {
  width: 8px; /* Altura de la scrollbar horizontal */
}
.canciones_container::-webkit-scrollbar-thumb {
  background-color: var(--border-color); /* Color del thumb */
  border-radius: 10px; /* Bordes redondeados para el thumb */
}
.canciones_container::-webkit-scrollbar-track {
  background-color: var(--secondary-color); /* Color del track */
  border-radius: 20px; /* Bordes redondeados para el track */
}
.canciones_container::-webkit-scrollbar-thumb:hover {
  background-color: var(--border-color); /* Cambio de color al desplazar */
}
@media screen and (max-width: 800px) {
  .busqueda_container .noFound {
    margin: 50px auto;
    align-items: center;
  }
  .busqueda_container .noFound h1 {
    font-size: 25px;
  }
  .busqueda_container .noFound p {
    font-size: 12px;
  }
}
@media screen and (max-width: 600px) {
  .busqueda_container {
    padding: 20px 0px;
  }
  .cancionBusqueda {
    height: 65px;
  }
  .portadaBusqueda {
    width: 60px;
  }
  .textoBusqueda {
    width: 95%;
  }
  .textoBusqueda p {
    font-size: 12px;
  }
  .textoBusqueda h4 {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 3; /* Limita a 2 líneas */
    -webkit-box-orient: vertical;
    font-size: 12px;
  }
  .playlist {
    width: 80px;
    margin-bottom: 10px;
  }
  .portadaPL {
    width: 60px;
    margin-bottom: 8px;
  }
  .portadaPLCircle {
    width: 60px;
  }
  .playlist h3,
  .playlist p {
    font-size: 11px;
  }
  .texto p {
    font-size: 13px;
  }
  .texto h2 {
    font-size: 18px;
  }
  .canciones_container {
    gap: 15px 0;
  }
  .cancion {
    width: 45%;
    height: 10%;
  }
  .portadaCA {
    width: 30px;
    height: 30px;
    border-radius: 3px;
  }
  .cancion h4,
  .cancion p {
    font-size: 10px;
    overflow: hidden;
  }
}
