body {
  margin: 0;
  padding: 0;
  height: 100%;
  flex-direction: column;
  overflow-y: scroll;
}
.page {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

header {
  height: 70px;
  position: sticky;
  top: 0;
  z-index: 1000;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  background-color: var(--primary-color);
}
header .absolute {
  position: absolute;
  left: 0;
  top: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 10px 40px;
  box-sizing: border-box;
}
header .logo {
  width: 120px;
  height: 50px;
}
header .absolute .perfil {
  display: flex;
  align-items: center;
  opacity: 0.7;
}
header .absolute .perfil p {
  color: white;
  font-size: 17px;
  font-weight: 700;
  text-decoration: none;
  margin: 0;
}
header .logout {
  width: 25px;
  height: 25px;
  margin-left: 15px;
  cursor: pointer;
}
.buscador {
  position: fixed;
  top: 0;
  left: 0;
  margin: 15px 0 0 290px;
  padding: 10px;
  font-size: 15px;
  width: 40vw;
  height: 15px;
  border-radius: 7px;
  background-color: var(--secondary-color);
  border: 2px solid var(--border-color);
  color: var(--text-color);
  outline: none;
  z-index: 1100;
  align-items: center;
  display: flex;
  justify-content: space-between;
}
.buscador input {
  background: none;
  border: none;
  outline: none;
  width: 100%;
  color: var(--text-color);
  padding: 10px;
}
.buscador img {
  width: 20px;
  height: 20px;
  opacity: 0.3;
}
header .accept {
  padding: 7px;
  font-size: 13px;
  border: none;
  border-radius: 15px;
  background-color: var(--secondary-color);
  color: white;
  cursor: pointer;
  margin: 0px auto;
  width: 75px;
}
header .cancel {
  padding: 7px;
  font-size: 13px;
  border: 1px solid white;
  border-radius: 15px;
  background-color: transparent;
  color: white;
  cursor: pointer;
  margin: 0px auto;
  opacity: 0.5;
  width: 75px;
  margin-left: 15px;
}

.main-container {
  display: flex;
  box-sizing: border-box;
  overflow: hidden;
}
main {
  margin-left: 250px;
  padding: 5px 20px;
  box-sizing: border-box;
  width: calc(100% - 250px);
}

@media screen and (max-width: 800px) {
  body {
    overflow-y: auto; /* Barra de desplazamiento solo cuando sea necesario */
  }
  .buscador {
    position: absolute;
    left: 50%; /* Lo posiciona en el centro horizontal */
    top: 0;
    transform: translateX(
      -50%
    ); /* Ajusta la posición para que esté exactamente centrado */
    padding: 10px;
    font-size: 13px;
    height: 15px;
    z-index: 900;
    margin: 80px 0px 0;
    width: calc(100% - 100px);
  }
  main {
    padding: 45px 20px 25px;
  }
  header .absolute .perfil p {
    font-size: 13px;
  }
  header .avatar {
    width: 18px;
    height: 18px;
    margin: 2px 0 0 10px;
  }
}
