body {
  margin: 0;
  padding: 0;
  overflow-x: hidden; /* Evita el desplazamiento horizontal */
  min-height: 100hv; /* Asegura que el body ocupe al menos el alto de la ventana */
  display: flex;
  flex-direction: column;
}

header {
  padding: 10px 30px 10px 10px;
  position: sticky;
  top: 0;
  z-index: 1000;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  background-color: var(--primary-color);
}

header .logo {
  max-width: auto;
  height: 40px;
  padding: 0px 20px;
}

header input {
  margin: 10px auto 0px 90px;
  padding: 10px;
  font-size: 16px;
  width: 30%;
  border-radius: 7px;
  background-color: var(--secondary-color);
  border: 2px solid var(--border-color);
  color: var(--text-color);
}

.avatar {
  margin-left: 15px;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  overflow: hidden;
  object-fit: cover;
}

.share {
  width: 30px;
  height: 30px;
}

.main-container {
  display: flex;
  flex: 1; /* Permite que el contenedor principal ocupe el espacio disponible */
}

.sidebar {
  width: 250px; /* Ancho fijo para el sidebar */
  padding: 20px;
  box-sizing: border-box;
}

main {
  flex-grow: 1; /* El main ocupa el espacio restante */
  padding: 20px;
  box-sizing: border-box;
  margin: 0 20px 0 230px;
  width: 85%;
}

footer {
  height: 35px;
  padding: 10px 0;
  position: sticky;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: var(--secondary-color);
  z-index: 1000;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.botonesIzq,
.botonesDer {
  margin: 0 40px; /* Ajusta el margen para los botones */
  width: auto;
  height: 25px;
}

footer .cancion {
  align-items: center;
  display: flex;
}

footer .cancion img {
  width: auto;
  height: 25px;
}

footer .cancion .botonesMed {
  margin-left: 10px;
  width: auto;
  height: 25px;
}

footer .text h4,
footer .text p {
  font-size: small;
  margin: 0 10px;
  color: var(--text-color);
}

/*********** Baseline, reset styles ***********/
input[type="range"] {
  -webkit-appearance: none;
  appearance: none;
  background: transparent;
  cursor: pointer;
  width: 6rem;
}

/* Removes default focus */
input[type="range"]:focus {
  outline: none;
}

/******** Chrome, Safari, Opera and Edge Chromium styles ********/
/* slider track */
input[type="range"]::-webkit-slider-runnable-track {
  background-color: #a3a3a3;
  border-radius: 4.5px;
  height: 4px;
}

/* slider thumb */
input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none; /* Override default look */
  appearance: none;
  margin-top: -4px; /* Centers thumb on the track */
  background-color: #808080;
  border-radius: 12px;
  height: 12px;
  width: 12px;
}

input[type="range"]:focus::-webkit-slider-thumb {
  outline: 3px solid #808080;
  outline-offset: 0.125rem;
}

/*********** Firefox styles ***********/
/* slider track */
input[type="range"]::-moz-range-track {
  background-color: #a3a3a3;
  border-radius: 4.5px;
  height: 4px;
}

/* slider thumb */
input[type="range"]::-moz-range-thumb {
  background-color: #808080;
  border: none; /*Removes extra border that FF applies*/
  border-radius: 12px;
  height: 12px;
  width: 12px;
}

input[type="range"]:focus::-moz-range-thumb {
  outline: 3px solid #808080;
  outline-offset: 0.125rem;
}
