body {
  margin: 0;
  padding: 0;
  overflow-x: hidden; /* Evita el desplazamiento horizontal */
  min-height: 100hv; /* Asegura que el body ocupe al menos el alto de la ventana */
  display: flex;
  flex-direction: column;
}

header {
  padding: 10px 30px 10px 10px;
  position: sticky;
  top: 0;
  z-index: 1000;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  background-color: var(--primary-color);
}

header .logo {
  max-width: auto;
  height: 40px;
  padding: 0px 20px;
}

header input {
  margin: 10px auto 0px 90px;
  padding: 10px;
  font-size: 16px;
  width: 30%;
  border-radius: 7px;
  background-color: var(--secondary-color);
  border: 2px solid var(--border-color);
  color: var(--text-color);
}

.avatar {
  margin-left: 15px;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  overflow: hidden;
  object-fit: cover;
}

.share {
  width: 30px;
  height: 30px;
}

.main-container {
  display: flex;
  flex: 1; /* Permite que el contenedor principal ocupe el espacio disponible */
}

.sidebar {
  width: 250px; /* Ancho fijo para el sidebar */
  padding: 20px;
  box-sizing: border-box;
}

main {
  flex-grow: 1; /* El main ocupa el espacio restante */
  padding: 20px;
  box-sizing: border-box;
  margin: 0 20px 0 230px;
  width: 85%;
}
